<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gloomy.fastfood">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".mvp.views.splash.SplashActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".mvp.views.main.MainActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mvp.views.login.LoginActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mvp.views.setting.SettingActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mvp.views.detail.food.FoodDetailActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mvp.views.gallery.GalleryActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mvp.views.detail.topic.TopicDetailActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.views.detail.store.StoreDetailActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mvp.views.detail.place.PlaceDetailActivity_"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_direction_key" />

        <activity
            android:name=".mvp.views.detail.store.location.StoreDetailLocationActivity_"
            android:screenOrientation="portrait" />
    </application>

</manifest>